<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
 <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
 <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" />
 <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
  </head>
  <body>
  <div class="page-header">
    <h2>Transportation System</h2>
  </div>

  <div class="container">
      <button type="button" class="btn btn-primary" onclick="initMap(1)">Flights</button>
      <button type="button" class="btn btn-primary" onclick="initMap(2)">Train</button>
      <button type="button" class="btn btn-primary" onclick="initMap(3)">Bus</button>
      <button type="button" class="btn btn-primary" onclick="initMap(4)">Taxi</button>
  </div>

  <div class="col-xs-12">
      <div class="col-xs-6">
          <div class="map-container">
              <div id="map"></div>
          </div>
      </div>
      <div class="col-xs-6 center-block">
          <div class=" container-fluid">
                  <div class="form-group">
                      <div class="col-xs-6">
                          <h4>Origin</h4>
                          <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="inlineFormCustomSelectOrigin">
                              <option selected>Choose Origin</option>
                          </select>
                      </div>
                      <div class="col-xs-6">
                          <h4>Destination</h4>
                          <select class="custom-select mb-4 mr-sm-2 mb-sm-4" id="inlineFormCustomSelectDestination">
                              <option selected>Choose Origin</option>
                          </select>
                      </div>
                  </div>

                   <div class="col-xs-6 option_space">
                       <button type="submit" class="btn btn-primary" onclick="calculateRoute()">Submit</button>
               </div>
          </div>
          <div class="col-xs-6">
            <div class="container-fluid ">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="container-fluid ">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <h2>Basic Table</h2>
            <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/0_map.js"></script>
  <script type="text/javascript" src="../static/js/1_flightmaps.js"></script>
  <script type="text/javascript" src="../static/js/2_trainmap.js"></script>
  <script type="text/javascript" src="../static/js/3_bustaxi.js"></script>
  <script type="text/javascript" src="../static/js/bus.js"></script>
  <script type="text/javascript" src="../static/js/mapHandler.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyoCNutbdORchm3ZdsArCTYSfnHdcAQNk&callback=costaRicaMap">
  </script>

  </body>
</html>